{{ define "main" }}
{{ partial "back_link.html" .}}

<h1>{{ .Title }}</h1>

{{ .Content }}

{{- $posts := .Site.RegularPages -}}
{{- $limit_exceeded:= "" -}}
{{- if (and .Params.limit (gt (len $posts) .Params.limit)) -}}
    {{- $limit_exceeded = true -}}
{{- else -}}
    {{- $limit_exceeded = false -}}
{{ end }}

{{- if (gt (len $posts) 0) }}
    {{- if .Params.limit }}
        {{ $posts = (first .Params.limit $posts ) }}
    {{ end }}
    <ul>
        {{- range $post := $posts.ByDate.Reverse -}}
        <li>
            <span>{{- ($post.Date | time.Format .Site.Params.theme_config.date_format) }}</span>
            <a href="{{ $post.Permalink | relURL }}">{{ $post.Section | title }}:  {{ $post.Title }}</a>
        </li>
        {{ end }}
        {{- if and .Params.show_more $limit_exceeded }}
            <li><a href="{{ .Params.show_more_url | relURL }}">{{ .Params.show_more_text | default "Show more..." }}</a></li>
        {{ end }}
    </ul>
{{ end }}


{{ end }}
