{{ define "main" }}
{{ partial "back_link.html" .}}

<h1>{{ .Title }}</h1>

{{ .Content }}

{{range .Site.Taxonomies.series.Alphabetical }}
<ul>
    <li>
        <a href="{{ .Page.RelPermalink }}">{{.Page.Title | title}}</a>({{.Count}})
        <span class="smaller darker right">
            {{ range first 1 .Pages.ByDate }} {{ .Date.Format "2006-01-02" }} {{ end }}
            -> {{ range last 1 .Pages.ByDate }} {{ .Date.Format "2006-01-02" }} {{ end }}
        </span>
    </li>
</ul>
{{end}}


{{ end }}
