// content width

.w {
  max-width: 50rem;
  min-width: 25rem;
  margin: 0 auto;
}

@media screen and (min-width: 26rem) {
  .w {
    padding: {
      top: 4rem;
      right: 1rem;
      left: 1rem;
    }
  }
}

// basic HTML elements
html, body { background: $black; }

html { height: 100%; }

body {
  color: $white-3;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

main {
  padding-bottom: 5rem;
}

.post-meta { text-align: right; }

h1 {
  font-size: 2rem;
  color: $black;
  background-color: $dark-3;
  padding: 0.1em 0.5em;
}

h2 {
  color: $orange-1;
  margin-top: 3rem;
}

h3, h4, h5, h6 {
  color: $white-1;
  margin-top: 3rem;
}

h2 ~ h3 {
  margin-top: 0;
}

hr.dark {
  background-color: rgb(55, 55, 55);
  margin: 2rem 0;
}

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

// links

a[href], .help-link {
  color: $green-2;
  text-decoration: underline;
  text-decoration-color: $green-2;
}

a[href]:visited, .help-visited {
  color: $orange-3;
  text-decoration: underline;
  text-decoration-color: $orange-3;
}

a[href]:focus {
  color: $gold;
  text-decoration-color: $gold;
}

*:target {
  background: $orange-2;
}

a.link-heading {
  text-decoration: none;
  h2 {
    text-decoration: underline;
  }
}

a[href^="https://"]:not(.image)::after {
  content: "🔗";
  font-size: 1em;
  margin-left: 0.1em;
  overflow: hidden;
}

a[href^="http://"]::after {
  content: "⚠️";
  font-size: 1em;
  margin-left: 0.1em;
  overflow: hidden;
}

// contents and markdown

.toc {
  border: thin solid $white-1;
  padding: 1rem;
}

hr {
  text-align: center;
  border: 0;
  clear: both;
  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

pre {
  background: $white-1;
  padding: 1em;
  overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

.table {
  &.full {
    width: 100%;
  }
  &.default {
    display: flex;
  }
  &.small > table {
    width: unset;
  }
  td {
    background-color: $dark-0;
  }
}

table { width: 100%; }

table, th, td {
  border: thin solid $dark-3;
  background-color: $dark-1;
  border-collapse: collapse;
  padding: 0.4rem;
}

// common code
em, strong {
  color: $white-2;
}

pre {
  background-color: $dark-1;
  color: $white-1;
}

code {
  color: $white-1;
  font-size: 80%;
  font-size: 90%;
}

// inline code
code:not([class]) {
  background: $dark-1;
  padding: 0.1em 0.2em;
  display: inline;
}

// code block
code[class] {
  background: none;
  display: block;
  padding: 1em 0.2em 0.2em;
}

// code language
code[data-lang] {
  position: relative;
  &::before {
      position: absolute;
      background-color: $dark-2;
      padding: 0.1em 0.3em 0.3em;
      content: attr(data-lang);
      top: -1.2rem;
      left: -1.1rem;
  }
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  border-left: thick solid $dark-3;
  border-right: thick solid $dark-3;
  padding: 0.5rem 1rem;
  background-color: $dark-0;
  p { margin: 0; }
  margin: 0;
}

article > header {
  display: flex;
  justify-content: space-between;
  p:only-child {
      margin-left: auto;
  }
}

p.has-jax {
  text-align: center;
}

// modifiers
.smaller { font-size: 0.85em; }
.dark-1 { color: $dark-1; }
.dark-2 { color: $dark-2; }
.dark-3 { color: $dark-3; }
.right { float: right; }
.white { color: $white-1; }
.white-2 { color: $white-2; }
.white-3 { color: $white-3; }
.center { text-align: center; }
