// objects
$black: black;
$dark-1: rgb(55,55,55);
$dark-2: rgb(80, 80, 80);
$dark-3: rgb(127,127,127);

// text
$white-1: white;
$white-2: rgb(200,200,200);
$orange-1: rgb(255, 140, 0);
$orange-2: rgba(255, 157, 0, 0.467);
$orange-3: rgb(255,153,51);
$gold: gold;
$green-1: rgb(0,128,0);
$green-2: rgb(170,229,116);
