body {
    font-size: 1.1rem;
}

h1 {
    font-size: 2rem;
    background-color: grey;
    padding: 0.1em 0.5em;
}

h2, *:visited h2 {
    color: rgb(255, 85, 0);
    text-decoration: none;
}

h3, h4, h5, h6 { margin-top: 2rem; }

.w {
    max-width: 45em;
    min-width: 20em;
}

code:not([class]), pre {
    background-color: rgb(100, 100, 100);
}

code[class] {
    background: none;
}

code[data-lang] {
    position: relative;
    &::before {
        position: absolute;
        background-color: rgb(80, 80, 80);
        padding: 0.1em 0.3em 0.3em;
        content: attr(data-lang);
        top: -1.2em;
        left: -1.1rem;
    }
}

*:target {
    background: unset;
    text-decoration: underline;
    text-decoration-color: inherit;
}


body[a="dark"] {
    pre { filter: invert(100); }
    h1 { filter: invert(100); }
    h2 { color: #0072ff; }
}

@media (prefers-color-scheme: dark) {
    body[a="auto"] {
        pre { filter: invert(100); }
    }
}

blockquote {
    border: unset;
    border-left: thick solid grey;
    background-color: rgb(200, 200, 200);
}

article > header {
    display: flex;
    justify-content: space-between;
    p:only-child {
        margin-left: auto;
    }
}

hr.dark {
    background-color: rgb(200, 200, 200);
}
