{{ define "main" }}

<header>
    <h1>{{ $.Site.Title }}</h1>
    {{- if $.Site.Params.theme_config.show_description -}}
        <p>{{ $.Site.Params.description }}</p>
    {{- end -}}
</header>

{{ .Content }}
{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}

<hr>

<p class="center">
    <span class="help">[link help]:</span>
    <span class="help-link">fresh</span>,
    <span class="help-visited">visited</span>,
    <span class="help-link">external🔗</span>,
    <span class="help-visited">..</span>(back to home)
</p>

{{ end }}
