{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $maxh := .Get "maxh" }}
{{ $maxw := .Get "maxw" }}
{{ $minh := .Get "minh" }}
{{ $minw := .Get "minw" }}
{{ $class := .Get "class" }}

<a href="{{ $src }}" target="_blank" class="shortcode-image {{ if $class }}{{$class}}{{ end }}">
    <img
        src="{{ $src }}"
        alt="{{ $alt }}"
        class="shortcode-image"
        style="
            {{ if $maxh }} max-height: {{$maxh}}; {{ end }}
            {{ if $maxw }} max-width: {{$maxw}}; {{ end }}
            {{ if $minh }} min-height: {{$minh}}; {{ end }}
            {{ if $minw }} min-width: {{$minw}}; {{ end }}
        "
    />
</a>
