{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $title := .Get "title" }}
{{ $text := .Get "text" }}
{{ $maxh := .Get "maxh" }}
{{ $maxw := .Get "maxw" }}
{{ $minh := .Get "minh" }}
{{ $minw := .Get "minw" }}
{{ $class := .Get "class" }}

<div class="shortcode-image {{ if $class }}{{$class}}{{ else }}center{{ end }}"
    style="
        {{ if $maxh }} max-height: {{$maxh}}; {{ end }}
        {{ if $maxw }} max-width: {{$maxw}}; {{ end }}
        {{ if $minh }} min-height: {{$minh}}; {{ end }}
        {{ if $minw }} min-width: {{$minw}}; {{ end }}
    "
>
<a href="{{ $src }}" target="_blank">
    <img
        src="{{ $src }}"
        alt="{{ $alt }}"
    />
</a>
{{ if $title }}<p class="title">{{ $title }}</p>{{ end }}
{{ if $text }}<p class="text smaller">{{ $text }}</p>{{ end }}
</div>
